@import "src/constants/variables.scss";

.main {
  height: $header-height;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid #ccc;
  .logo {
    display: flex;
    width: 200px;
    align-items: center;
    gap: 10px;
    img {
      max-width: 50px;
    }
    h2 {
      color: $text-color;
      font-weight: 900;
      transform: skew(-22deg);

    }
    .headLetter{
      color:$primary-logo-color ;
    }
    .logoText{
      color:$secondary-logo-color;
    }
  }
}
